.blog-image {
	width:600px;
	padding-bottom: 25px;
}
.container {
	width:940px;
}

.container-600 {
	width: 600px;
	margin: 0 auto;
}

.container-header {
	width: 100%;
}

.content-container {
	position: relative;
	bottom: 100px;
	width: 800px;
	margin: 0 auto;
	background-color: white;
}

.header-image {
	width: 100%;
}

.header-image-box {
	width:100%;
	height:648px;
	overflow: hidden;
	background: url(img/hero.JPG);
	background-position: center;
	background-size: cover;
}

.header-image-about {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/flowers.jpg);
	background-position: center;
	background-size: cover;
}

.header-image-contact {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/wheat.jpg);
	background-position: center;
	background-size: cover;
}

.header-image-work {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/wispy.jpg);
	background-position: center;
	background-size: cover;
}

.header-image-blog {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/spring-shot.jpg);
	background-position: center;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
}

img.header-logo {
	padding-top: 0;
	width: 250px;
}

h1.header-text {
	clear: both;
	text-align: center;
	color:white;
	margin: 0 auto;
	font-size: 60px;
	width: 640px;
	margin-top: 15%;
	text-shadow:0 3px 25px #000000;
	font-family: 'Montserrat', sans-serif;
	line-height: 140%;
	
}


.navbar-default {
	height: 100px;
}


.navbar-header {
	margin-left: 50px;
	margin-top: 20px;
}

.navbar-tabs {
	margin-top: 20px;
	margin-right: 50px;
}



.our-menu-item {
	font-family: 'Montserrat', sans-serif;
	size: 9px;
	width: 	140px;
	text-align: center;
	color: white;
	padding-top: 35px;
	letter-spacing: 2px;
}



.navbar-nav>li>a {
	padding-top: 22px;	
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav>li>a:hover {
	background-color: inherit;
	color: rgba(255,255,255,.8);
	text-decoration: none;
}
.navbar-brand {
	padding-right: 100px;
}

.navbar>.container .navbar-brand {
		padding-top: 29px;
}

.header-logo
{
	width:100px;
}

.about-header {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;
	letter-spacing: 5px;
	color: white;
	padding-bottom: 50px;
	position: relative;
	top: 140px;
}

.quote-contact {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-align: center;
	font-size: 35px;
	padding-top: 0;
	width: 500px;
	margin: 0 auto;
}

.quote {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-align: center;
	font-size: 35px;
	padding-top: 30px;
}

.social-link {
	padding-top: 30px;
	text-align: ;
	margin: 0 auto;
}

.social-link a {
	color: greys;
}

.blog-quote {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-style: italic;
	font-size: 35px;
	padding-top: 0;
	color: #c9bc99;
	line-height: 45px;
}

.home-quote {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	line-height: 51px;
}

.quote-2 {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-align: center;
	font-size: 35px;
	padding-top: 10px;
	line-height: 40px;
}

h3.quote-marks {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	color: #c9bc99;
	padding-bottom: 0;
	padding-top: 40px;
}

.quote-contact {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	color: #c9bc99;
	padding-bottom: 0;
	padding-top: 40px;
}

.quote-author {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	color: #949494;
	padding-bottom: 50px;
}

.continue-blog {
	padding-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #c9bda5;
	padding-bottom: 25px;
}

.date-stamp {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 12px;
	letter-spacing: 1px;
	color: #949494;
	padding-bottom: 40px;
	padding-top: 10px;
	text-transform: uppercase;
}

div.horizontalRule {
    min-height: 1px;
	margin: 0 auto;
	clear: both;
	width: 90%;
    border-bottom:1px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-top:5px;
    margin-bottom:5px;
}

.about-me {
	padding-top: 50px;
	padding-left: 50px;
}

h3.about-left-copy {
	padding-top: 50px;
	font-family: 'Crimson Text', serif;
	font-size: 35px;
	padding-top: 0;
}

.blog-title {
	padding-top: 50px;
	font-family: 'Crimson Text', serif;
	font-size: 35px;
	padding-top: 0;
	color: #af3147;
}

.blog-title a {
	padding-top: 50px;
	font-family: 'Crimson Text', serif;
	font-size: 35px;
	padding-top: 0;
	color: #af3147;
	text-decoration: underline;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 30px;
}

.about-copy {
	padding-top: 50px;
	padding-bottom: 50px;
}

.blog-copy {
	padding-top: 25px;
	padding-bottom: 50px;
}

.about-quote-bg {
	padding-left: 15px;
	width:100%;
	height: 200px;
	overflow: hidden;
	background: url(img/about-quote-bg.png);
	background-position: center;
	background-size: cover;
}

.social-media {
	width: 600px;
	margin: 10px;
}