.blog-image {
	width:600px;
	padding-bottom: 25px;
}

.blog-preview {
	width: 100%;
	height: auto;
    width: auto\9; /* ie8 */
}

.blog-preview:hover {
	opacity:0.4;
}

.blog-description {
	font-weight: bold;
	color: #c36162;
	margin-top: 20px;
}

.bottom-150 {
	margin-bottom: 150px;
}

.box {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 16px 25px 13px;
	border: 1px solid #000;
	text-align: center;
	width: 220px;
	margin-top: 50px;
	margin-bottom: 75px;
}

.top-125 {
	margin-top: 125px;
}

.top-75 {
	margin-top: 75px;
}

.box-larger {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 16px 25px 13px;
	border: 1px solid #000;
	text-align: center;
	width: 300px;
	margin-top: 50px;
}

.lastest {
	margin-bottom: 50px;
}

/*TYPOGRAPHY (HOME) */

h1 {
	font-family: 'Montserrat', sans-serif;
	line-height: 50px;
	font-size: 35px;
	text-align: center;
	margin: 70px 0 70px 0;
	color: #c36162;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	margin: 70px 0 70px 0;
	color: #c36162;
}

.white-type {
	color: white;
}

/*END TYPOGRAPHY (HOME) */

.container {
	width:800px;
}


.container-600 {
	width: 600px;
	margin: 0 auto;
}

.container-800 {
	width: 800px;
	margin: 0 auto;
}


.container-header {
	width: 100%;
}


.content-container {
	position: relative;
	bottom: 100px;
	width: 800px;
	margin: 0 auto;
	background-color: white;
}


/* Footer */

footer {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  background-color: #F5F5F0;
  padding-top: 100px;
}


#foo-cre {
  font-size: 12px;
  padding-bottom: 70px;
}

#foo-cre a {
  text-decoration: none;
  color: #7D7D7D;
}

#foo-cre a:first-child {
  margin-right: 25px;
}

#foo-cre a:hover {
  text-decoration: underline;
}

#foo-bot {
  position: absolute;
  top: 100;
  width: 100%;
  height: 70px;
  background-color: #c36162;
  z-index: 1;
}

#foo-bot a {
  color: #FFF;
  text-decoration: none;
}

#foo-bot a:hover {
  text-decoration: underline;
}

#foo-bot-con {
  width: 1170px;
  margin: 0 auto;
}

#foo-bot-men {
  float: right;
  width: 60%;
  text-align: right;
}

#foo-men {
  position: relative;
  top: 15px;
  margin: 0;
}

#foo-men li {
  display: inline;
  margin-right: 15px;
}

#foo-bot-bac {
  position: relative;
  top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  float: right;
  width: 115px;
  color: #FFF;
  text-align: right;
}

#foo-bot-bac:hover {
  text-decoration: underline;
  cursor: pointer;
}

#foo-bot-bac img {
  position: relative;
  width: 22px;
  height: auto;
  margin-left: 10px;
}

#foo-bot-sub {
  position: relative;
  top: 23px;
  width: 40%;
  float: left;
}

#foo-bot-sub-mai {
  text-align: left;
}

#foo-bot-sub-mai-ema {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 320px;
  color: #FFF;
  background-color: #c36162;
  border: 0;
}

::-webkit-input-placeholder {
  color: #FFF;
}

:-moz-placeholder {
  color: #FFF;
}

::-moz-placeholder {
  color: #FFF;
}

:-ms-input-placeholder {
  color: #FFF;
}

#foo-bot a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#foo-bot-sub-mai-but {
  width: 7px;
  height: 15px;
  color: #FFF;
  background-color: #c36162;
  background-repeat: no-repeat;
  border: 0;
}

#footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
  }
/*END FOOTER */

/*****HOME *****/

html {
	height: 100%;
}

body {
	height: 100%;
}

.container-header {
	height: 100%;
}


/*Email capture*/

#email-banner {
	width: 100%;
	height: 130px;
	background-color: rgba(255,255,255,.3);
	margin:	0 auto;
	position: absolute;
	bottom: 0;
}

#email {
	border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

.box-800 {
	width: 800px;
	margin: 0 auto;
}


p.email-copy {	
	font-family: 'Montserrat', sans-serif;
	size: 9px;
	color: white;
	padding-top: 20px;
	letter-spacing: 2px;
}

.moonray_form_field_wrapper input[type="text"], .moonray_form_field_wrapper input[type="email"] {
	background: #fff;
	border: 0;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	box-shadow: inset 5px 4px 4px #d0d0d0;
	-moz-box-shadow: inset 5px 4px 4px #d0d0d0;
	-webkit-box-shadow: inset 1px 1px 5px #d0d0d0;
	padding: 5px;
	float: left;
}

.optin_submit {
	float: left;
}

.div.moonray_forms fieldset { border: 0; padding: 0 }

/*END CAPTURE*/

/*HOME NEWS SECTION */

.container-300 {
	width: 250px;
	margin: 50px 0 0 50px;
	float: left;
}

.container-500 {
	width: 500px;
	float: left;
	margin: 50px 0 0 0;
}

.no-padding {
	padding: 0;
}

.padding-l-15 {
	padding-left: 8px;	
}

.home-box {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 16px 25px 13px;
	border: 1px solid #000;
	text-align: center;
	width: 220px;
	margin-top: 75px;
	margin-bottom: 75px;
}

.full-width-box {
	background-color: grey;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;
	width: 100%;
}

.half-width-square {
	width: 392px;
	margin: 0;
	float: left;
}

.fifteen-margin-left {
	margin-left: 15px;
}

#instafeed {
	height: 242px;
}

.pink {
	background-color: #c36162;
}

.quote-author {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	padding-bottom: 25px;
}

.home-quote {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 1px;
	width: 696px;
	margin: 0 auto;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.quote-oftheweek {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	color: #96393a;
	padding-top: 30px;
}

/*END HOME NEWS SECTION */

/*THREE IMAGE PANEL*/

#three-grid-1 {
	width: 250px;
	float: left;
	margin: 100px 25px 100px 0;
}

#three-grid-2 {
	width: 250px;
	float: left;
	margin: 100px 25px 100px 0;
}

#three-grid-3 {
	width: 250px;
	float: left;
	margin: 100px 0 100px 0;
}

.three-grid-about {
	position: relative;
	bottom: 85px;
	font-family: 'Montserrat', sans-serif;
	size: 16px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}

.three-grid-coaching {
	position: relative;
	bottom: 85px;
	font-family: 'Montserrat', sans-serif;
	size: 16px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}


.three-grid-thoughts {
	position: relative;
	bottom: 85px;
	font-family: 'Montserrat', sans-serif;
	size: 16px;
	color: white;
	letter-spacing: 2px;
	text-align: center;
}

.mail-form-mailchimp {
	margin-bottom: 50px;
}


/*end THREE IMAGE PANEL*/


/*END HOME*/

.header-image {
	width: 100%;
}

.header-image-home {
	width:100%;
	height:500px;
	overflow: hidden;
	background: url(img/hero_main.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.breaker-image-home {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background: url(img/hero_2.png);
	background-position: center;
	background-size: cover;
	position: relative;

}

.me-intro {
	bottom: 100px;
	width: 100%;
	margin: 0 auto;
	background-color: #b9c737;
}

.header-image-about {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/flowers.jpg);
	background-position: center;
	background-size: cover;
}

.header-image-contact {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/wheat.jpg);
	background-position: center;
	background-size: cover;
}

.header-image-work {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/wispy.jpg);
	background-position: center;
	background-size: cover;
}

.header-image-blog {
	width:100%;
	height:550px;
	overflow: hidden;
	background: url(img/spring-shot.jpg);
	background-position: center;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
}

img.header-logo {
	padding-top: 0;
	width: 250px;
}

h1.header-text {
	clear: both;
	text-align: center;
	color:white;
	margin: 0 auto;
	font-size: 60px;
	width: 640px;
	margin-top: 15%;
	text-shadow:0 3px 25px #000000;
	font-family: 'Crimson Text', serif;
	line-height: 140%;

}


.navbar-default {
	height: 100px;
}


.navbar-header {
	margin-left: 50px;
	margin-top: 20px;
}

.navbar-tabs {
	margin-top: 20px;
	margin-right: 50px;
}



.our-menu-item {
	font-family: 'Montserrat', sans-serif;
	size: 9px;
	width: 	140px;
	text-align: center;
	color: white;
	padding-top: 35px;
	letter-spacing: 2px;
	transition: color ease 0.4s;

}

.our-menu-item:hover
{
	color: white;
}



.navbar-nav>li>a {
	padding-top: 22px;	
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav>li>a:hover {
	background-color: inherit;
	color: rgba(255,255,255,.7);
	text-decoration: none;
}
.navbar-brand {
	padding-right: 100px;
}

.navbar>.container .navbar-brand {
		padding-top: 29px;
}

.header-logo
{
	width:100px;
}

.about-header {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;
	letter-spacing: 5px;
	color: white;
	padding-bottom: 50px;
	position: relative;
	top: 140px;
}

.quote-contact {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-align: center;
	font-size: 35px;
	padding-top: 0;
	width: 500px;
	margin: 0 auto;
}

.quote {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
	color: #af3147;
}

.social-link {
	padding-top: 30px;
	text-align: ;
	margin: 0 auto;
}

.social-link a {
	color: greys;
}

.blog-quote {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-style: italic;
	font-size: 35px;
	padding-top: 0;
	color: #af3147;
	line-height: 45px;
}

.quote-2 {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	text-align: center;
	font-size: 35px;
	padding-top: 10px;
	line-height: 40px;
}

h3.quote-marks {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	color: #c9bc99;
	padding-bottom: 0;
	padding-top: 40px;
}

.quote-contact {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	color: #c9bc99;
	padding-bottom: 0;
	padding-top: 40px;
}

.continue-blog {
	padding-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #c9bda5;
	padding-bottom: 25px;
}

.date-stamp {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 12px;
	letter-spacing: 1px;
	color: #949494;
	padding-bottom: 30px;
	padding-top: 10px;
	text-transform: uppercase;
}

.post-body {
	padding-bottom: 10px;
}

div.horizontalRule-1 {
    min-height: 1px;
	margin: 0 auto;
	clear: both;
	width: 90%;
    border-bottom:1px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-top:5px;
    margin-bottom:5px;
}

div.horizontalRule-2 {
    min-height: 1px;
	margin: 0 auto;
	clear: both;
	width: 90%;
    border-bottom:1px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-bottom:25px;
}

div.horizontalRule-3 {
    min-height: 1px;
	margin: 0 auto;
	clear: both;
	width: 100%;
    border-bottom:1px solid #d1d1d1;
    height:1px; 
    padding-top:25px;
    padding-bottom:25px;
}

div.horizontalRule-4 {
    min-height: 1px;
	margin: 0 auto;
	clear: both;
	width: 5%;
    border-bottom:1px solid black;
    height:1px; 
    padding-top:30px;
}

div.horizontalRule-blog {
    min-height: 1px;
	margin: 0 auto;
	clear: both;
	width: 90%;
    border-bottom:1px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-bottom:25px;
}

.about-me {
	padding-top: 50px;
	padding-left: 50px;
}

h3.about-left-copy {
	padding-top: 50px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 35px;
	padding-top: 0;
	color: #af3147;
}

.blog-title {
	padding-top: 50px;
	font-family: 'Crimson Text', serif;
	font-size: 35px;
	padding-top: 0;
	color: #af3147;
}

blog-title a:hover{
	padding-top: 50px;
	font-family: 'Crimson Text', serif;
	font-size: 35px;
	padding-top: 0;
	color: #af3147;
	text-decoration: hover;
}

.container-600.single-blog-post {
	padding-top:30px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 30px;
}

a {
	color: #af3147;
}

a:hover {
	color: #af3147;
}

.about-copy {
	padding-top: 50px;
	padding-bottom: 50px;
}

.blog-copy {
	padding-top: 25px;
	padding-bottom: 50px;
}

.about-quote-bg {
	padding-left: 15px;
	width:100%;
	height: 200px;
	overflow: hidden;
	background: url(img/about-quote-bg.png);
	background-position: center;
	background-size: cover;
}

.social-media {
	width: 600px;
	margin: 10px;
}

.read_more_container {
	padding-top: 25px;
}

.email-signup-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.email-signup-button
{
-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/*BTN*/

.form {
	width: 500px;
	margin: 0 auto;
}

.form-control {
	width: 75%;
	float: left;
	height: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.btn-submit{
	float: right;
	width: 20%;
	height: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

#submit {
	margin: 0 auto;
}

/*END BTN*/