.container {
	width:940px;
}

.600-container {
	width: 600px;
}

.container-header {
	width: 100%;
}

.header-image {
	width: 100%;
}

.header-image-box {
	width:100%;
	height:648px;
	overflow: hidden;
	background: url(img/hero.JPG);
	background-position: center;
	background-size: cover;
}

.header-image-about {
	width:100%;
	height:350px;
	overflow: hidden;
	background: url(img/flowers.png);
	background-position: center;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
}

img.header-logo {
	padding-top: 0;
	width: 250px;
}

.header-text {
	color:white;
	font-size: 60px;
	width: 577px;
	margin-top: 200px;
	text-shadow:0 3px 25px #000000;
	font-family: 'Open Sans', sans-serif;
	line-height: 140%;
	
}

.navbar-header {
	color: ;
}

.navbar-default {
	background-color: white;
	height: 70px;
}

.our-menu-item {
	font-family: 'Open Sans', sans-serif;
	width: 	160px;
	text-align: center;
	color: red;
	padding-top: 22px;
	letter-spacing: 1px;
}


.navbar-default .navbar-nav>li>a:hover{
}

.navbar-default .navbar-nav>li{
		padding-top: 8px;
}

.navbar>.container .navbar-brand {
		padding-top: 22px;
}

.header-logo
{
	width:100px;
}

.quote {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	padding-top: 0;
}

h3.quote-marks {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 35px;
	color: #73373b;
	padding-bottom: 0;
}

.quote-author {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	color: #949494;
}
